.page{
    position: absolute;   
    left: 0;
    right: 0;
}

.fade-enter{
    opacity: 0; 
 }

.fade-enter.fade-enter-active {
  opacity: 1;
  visibility: visible;
  transition:visibility 500ms linear 500ms, opacity 500ms linear 500ms;
}
.fade-exit {
    opacity:1;
    visibility: visible;
}

.fade-exit.fade-exit-active {
    opacity:0;
    visibility: hidden;
    transition: visibility 300ms linear,opacity 300ms linear;
}

.fade-exit-done{
    opacity: 0;
    visibility: hidden;
}

.backgroudcolor{
    background-color:#F6F6F6;
}

.whitecontainercolor{
    background-color:#FDFFFF
}

#topframe{
    background-image: url("../images/healthrecordstacklogintopframe.jpg");
    width: 100%;
    max-height: 400px;
    height: 400px;
}