<!DOCTYPE HTML>
<html>
  <head>
    <title>Health Record Stack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="" />
  </head>
  <body>
    <div id='root'><%- initialContent -%></div>

    <script src="./bundle.js"></script>
  </body>
</html>